@{
    ViewBag.Title = "¿Quiénes somos?";
}


<h2 style="text-align:center">¿Quiénes somos?</h2>

<br />
<div class="row">
    <div class="col-md-6">
        <br />
        <p class="text-justify">
            Constructora Ude C es una empresa Colombiana, líder en promoción, gerencia, venta y construcción de proyectos de vivienda.

            Reconocida como la No 1 en “Mejor Reputación” del sector Construcción e Infraestructura.

            Tiene presencia en Colombia: Bogotá, Municipios aledaños, Cartagena, Barranquilla, Valledupar y otros también está presente en otros países.

            Fue constituida en el año 2021 y desde entonces, aplicando buenas prácticas y habilidades distintivas en su gestión, ha desarrollado proyectos de vivienda, proyectos de comercio,  edificaciones para oficinas y educación.

            Por su calidad, continuo enfoque en innovación y visión de negocios, proyecta su crecimiento a otros mercados en Colombia y países cercanos.

        </p>
        <b class="text-justify">
           Es una empresa de servicios de promoción, gerencia, venta y construcción de proyectos. Nuestros clientes son atraidos por la ubicación, novedad, calidad y precio de nuestros productos.  La atención, conocimiento y seriedad de nuestros empleados les brinda la seguridad y confianza.
        </b>
    </div>
    <div class="col-md-6">
        <img src="~/Helpers/constructora.jpeg" class="img-thumbnail">
    </div>
</div>